body{
    background:  rgba(56, 57, 58, 0.479) ;
    background-size: 100px;
    font-family: cursive;
    
}

input{
    border-radius: 10px;
    background-color:white;
}

button{
    border-radius: 10px;
    background-color: rgba(30, 30, 30, 0.701) ;
    border: rgb(176, 159, 3) 2px solid;
    color: white;
    box-shadow: green ;
}

button:hover{
    border-radius: 10px;
    background-color: rgba(30, 30, 30, 0.701) ;
    border:  rgb(0, 0, 0) 2px solid;
    color:  rgb(176, 159, 3) ;
}