body{
    background-image: url(../img/fondo.png);
    background-size: cover;
    font-family: cursive;
    
}

input{
    border-radius: 10px;
    background-color:white;
}

button{
    border-radius: 10px;
    background-color: rgba(30, 30, 30, 0.701) ;
    border: rgb(176, 159, 3) 2px solid;
    color: white;
    box-shadow: black ;
}

button:hover{
    border-radius: 10px;
    background-color: rgba(30, 30, 30, 0.701) ;
    border:  rgb(0, 0, 0) 2px solid;
    color:  rgb(176, 159, 3) ;
}